@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
body { color: #333333; min-width: 300px; background: #ffffff;}
clear { clear: both; width: 100%; height: 0px; visibility: hidden; display: block; }
label { display: inline-block; }
header {  padding: 0 10px 10px 10px;}
nav { background: #0078D7; width: 100%; position: absolute; top: 0; color: #ffffff; }
#wrapper { padding: 50px 0 0 0; }
.tab { background: #0078D7; line-height: 20px; padding: 10px 20px; text-align: center; color: #ffffff; width: auto; float: left; }
#inp_address_bar {width: 100%;}
#link_name { color: #ffffff; }
#link_name:hover { opacity: .6; }
#link_name::after{ content: '\f0c1'; font-family: FontAwesome; }
#hierarchy { position: absolute; top: 80px; left: 0; bottom: 0; width: 300px; overflow: auto; border-right: 1px solid #0078D7; border-top: 1px solid #0078D7; }
#display {   position: absolute; top: 80px; left: 300px; bottom: 0; right: 0; border-right: 1px solid #0078D7;  color: #333333; }
  #display_container { position: absolute; top: 0px; bottom: 0; right: 0; left: 0; }
  #display_content { position: absolute; top: 40px; bottom: 0; right: 0; left: 0; overflow-y: auto; padding: 10px 25px 10px 10px;}
        #display_content_left { position: absolute; top: 10px; left: 10px; width: 500px; bottom: 10px; padding: 0 10px 0 0; }
      #display_content_left > label { font-weight: bold; display: inline-block; width: 100%; margin: 10px 0; }
      #display_content_left > label:first-child { margin-top: 0; }
      #display_content_date div { font-size: 12px; margin: 0 0 7px 0; }
        #display_content_date div label { width: 40%; font-weight: bold; }
        #display_content_date div span { width: 60%; text-align: right; display: inline-block; }
      #display_content_left table { font-size: 12px; border: 1px solid #0078D7; width: 100%; }
        #display_content_left table th { font-weight: bold; color: #ffffff; background: #0078D7; padding: 4px 2px; }
        #display_content_left table td { padding: 4px 2px; border: 1px solid #0078D7; }
        #display_content_exception table th:nth-child(1) { width: 107px; }
        #display_content_exception table th:nth-child(2) {  }
        #display_content_exception table th:nth-child(1) { width: 66px; }
        #display_content_exception table th:nth-child(2) { width: 107px; }
        #display_content_exception table th:nth-child(3) { width: 91px; }
        #display_content_exception table th:nth-child(4) { width: 166px; }
        #display_content_exception table th:nth-child(5) { width: 60px; }
        #display_content_exception table td:nth-child(4) { width: 166px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
    #display_content_frame { position: absolute; top: 10px; left: 520px; right: 10px; bottom: 10px; border: 1px solid #0078D7; padding: 0; background: #0078D7; }
    #display_iframe { width: 100%; height: 100% }
    #display_iframe.loading { display: none; }
    loading { display: none; position: absolute; top: 50%; left: 50%; transform: translateY(-50%); width: 30px; height: 30px; text-align: center; margin: 0 auto; font-size: 30px; color: #ffffff; }
    loading.loading { display: block; }
.windows8 {
  position: relative;
  width: 30px;
  height:30px;
}
.windows8 .wBall {
  position: absolute;
  width: 29px;
  height: 29px;
  opacity: 0;
  -moz-transform: rotate(225deg);
  -moz-animation: orbit 6.050000000000001s infinite;
  -webkit-transform: rotate(225deg);
  -webkit-animation: orbit 6.050000000000001s infinite;
  -ms-transform: rotate(225deg);
  -ms-animation: orbit 6.050000000000001s infinite;
  -o-transform: rotate(225deg);
  -o-animation: orbit 6.050000000000001s infinite;
  transform: rotate(225deg);
  animation: orbit 6.050000000000001s infinite;
}
.windows8 .wBall .wInnerBall{
  position: absolute;
  width: 4px;
  height: 4px;
  background: #ffffff;
  left:0px;
  top:0px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.windows8 #wBall_1 {
  -moz-animation-delay: 1.32s;
  -webkit-animation-delay: 1.32s;
  -ms-animation-delay: 1.32s;
  -o-animation-delay: 1.32s;
  animation-delay: 1.32s;
}
.windows8 #wBall_2 {
  -moz-animation-delay: 0.26s;
  -webkit-animation-delay: 0.26s;
  -ms-animation-delay: 0.26s;
  -o-animation-delay: 0.26s;
  animation-delay: 0.26s;
}
.windows8 #wBall_3 {
  -moz-animation-delay: 0.53s;
  -webkit-animation-delay: 0.53s;
  -ms-animation-delay: 0.53s;
  -o-animation-delay: 0.53s;
  animation-delay: 0.53s;
}
.windows8 #wBall_4 {
  -moz-animation-delay: 0.79s;
  -webkit-animation-delay: 0.79s;
  -ms-animation-delay: 0.79s;
  -o-animation-delay: 0.79s;
  animation-delay: 0.79s;
}
.windows8 #wBall_5 {
  -moz-animation-delay: 1.06s;
  -webkit-animation-delay: 1.06s;
  -ms-animation-delay: 1.06s;
  -o-animation-delay: 1.06s;
  animation-delay: 1.06s;
}
@-moz-keyframes orbit {
  0% {
    opacity: 1;
    z-index:99;
    -moz-transform: rotate(180deg);
    -moz-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -moz-transform: rotate(300deg);
    -moz-animation-timing-function: linear;
    -moz-origin:0%;
  }
  30% {
    opacity: 1;
    -moz-transform:rotate(410deg);
    -moz-animation-timing-function: ease-in-out;
    -moz-origin:7%;
  }
  39% {
    opacity: 1;
    -moz-transform: rotate(645deg);
    -moz-animation-timing-function: linear;
    -moz-origin:30%;
  }
  70% {
    opacity: 1;
    -moz-transform: rotate(770deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin:39%;
  }
  75% {
    opacity: 1;
    -moz-transform: rotate(900deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin:70%;
  }
  76% {
    opacity: 0;
    -moz-transform:rotate(900deg);
  }
  100% {
    opacity: 0;
    -moz-transform: rotate(900deg);
  }
}
@-webkit-keyframes orbit {
  0% {
    opacity: 1;
    z-index:99;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin:0%;
  }
  30% {
    opacity: 1;
    -webkit-transform:rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-origin:7%;
  }
  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin:30%;
  }
  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin:39%;
  }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin:70%;
  }
  76% {
    opacity: 0;
    -webkit-transform:rotate(900deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
}
@-ms-keyframes orbit {
  0% {
    opacity: 1;
    z-index:99;
    -ms-transform: rotate(180deg);
    -ms-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -ms-transform: rotate(300deg);
    -ms-animation-timing-function: linear;
    -ms-origin:0%;
  }
  30% {
    opacity: 1;
    -ms-transform:rotate(410deg);
    -ms-animation-timing-function: ease-in-out;
    -ms-origin:7%;
  }
  39% {
    opacity: 1;
    -ms-transform: rotate(645deg);
    -ms-animation-timing-function: linear;
    -ms-origin:30%;
  }
  70% {
    opacity: 1;
    -ms-transform: rotate(770deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin:39%;
  }
  75% {
    opacity: 1;
    -ms-transform: rotate(900deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin:70%;
  }
  76% {
    opacity: 0;
    -ms-transform:rotate(900deg);
  }
  100% {
    opacity: 0;
    -ms-transform: rotate(900deg);
  }
}
@-o-keyframes orbit {
  0% {
    opacity: 1;
    z-index:99;
    -o-transform: rotate(180deg);
    -o-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -o-transform: rotate(300deg);
    -o-animation-timing-function: linear;
    -o-origin:0%;
  }
  30% {
    opacity: 1;
    -o-transform:rotate(410deg);
    -o-animation-timing-function: ease-in-out;
    -o-origin:7%;
  }
  39% {
    opacity: 1;
    -o-transform: rotate(645deg);
    -o-animation-timing-function: linear;
    -o-origin:30%;
  }
  70% {
    opacity: 1;
    -o-transform: rotate(770deg);
    -o-animation-timing-function: ease-out;
    -o-origin:39%;
  }
  75% {
    opacity: 1;
    -o-transform: rotate(900deg);
    -o-animation-timing-function: ease-out;
    -o-origin:70%;
  }
  76% {
    opacity: 0;
    -o-transform:rotate(900deg);
  }
  100% {
    opacity: 0;
    -o-transform: rotate(900deg);
  }
}
@keyframes orbit {
  0% {
    opacity: 1;
    z-index:99;
    transform: rotate(180deg);
    animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    transform: rotate(300deg);
    animation-timing-function: linear;
    origin:0%;
  }
  30% {
    opacity: 1;
    transform:rotate(410deg);
    animation-timing-function: ease-in-out;
    origin:7%;
  }
  39% {
    opacity: 1;
    transform: rotate(645deg);
    animation-timing-function: linear;
    origin:30%;
  }
  70% {
    opacity: 1;
    transform: rotate(770deg);
    animation-timing-function: ease-out;
    origin:39%;
  }
  75% {
    opacity: 1;
    transform: rotate(900deg);
    animation-timing-function: ease-out;
    origin:70%;
  }
  76% {
    opacity: 0;
    transform:rotate(900deg);
  }
  100% {
    opacity: 0;
    transform: rotate(900deg);
  }
}
#content { padding: 40px 0 0 0; }
  .content { padding: 20px 0 0 20px; display: block; }
    .content > li { width: 340px; margin: 0 20px 20px 0; display: inline-block; }
@media (max-width: 756px) {
  .content { padding: 0 60px 0 20px; }
    .content > li { width: 100%; margin: 20px -20px 0 0; }
}
nav .close { float: right; line-height: 20px; margin: 10px 20px; cursor: pointer; }
nav .close:hover { opacity: .6 }
nav .close::after { content: '\f00d'; display: block; font-family: FontAwesome; }
.jstree-themeicon-custom { font-style: normal; color: #0078D7; }
.Event::before { content: '\f073'; font-family: FontAwesome; }
.XML::before { content: '\f0f6'; font-family: FontAwesome; }
.jstree-closed .Node::before { content: '\f114'; font-family: FontAwesome; }
.jstree-open .Node::before { content: '\f115'; font-family: FontAwesome; }
.jstree-clicked .Event::before { font-weight: 600 }
.jstree-clicked .XML::before { content: '\f15c'; font-family: FontAwesome; }
.jstree-closed > .jstree-anchor > .Node::before { content: '\f114'; font-family: FontAwesome; }
.jstree-closed > .jstree-clicked .Node::before { content: '\f07b'; font-family: FontAwesome; }
.jstree-open > .jstree-anchor > .Node::before { content: '\f115'; font-family: FontAwesome; }
.jstree-open > .jstree-clicked .Node::before { content: '\f07c'; font-family: FontAwesome; }
.jstree-leaf > .jstree-anchor > .Node::before { content: '\f115'; font-family: FontAwesome;  }
.jstree-leaf > .jstree-clicked .Node::before { content: '\f07c'; font-family: FontAwesome; }